# Synthetic Nottingham Income Estimates

This code creates synthetic income estimates for LSOAs across Nottingham (UK)

In [157]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')
#import the dataset
data = pd.read_csv('notts_lsoa_income_params.csv')
#drop unwanted cols
#data = data.drop(['Unnamed: 0', 'Transaction'], axis=1)
data.head()

     LSOA_code    mean  households   upper  lower     sd
0    E01013810  24.173         643  43.337   3.74  9.582
1    E01013811  22.592         526  41.756   3.74  9.582
2    E01013812  22.957         554  42.121   3.74  9.582
3    E01013813  15.186         578  34.350   3.74  9.582
4    E01013814  25.569         715  44.733   3.74  9.582
..         ...     ...         ...     ...    ...    ...
177  E01033407  20.761         646  39.925   3.74  9.582
178  E01033408  27.280         670  46.444   3.74  9.582
179  E01033409  12.340         486  31.504   3.74  9.582
180  E01033410  25.634         814  44.798   3.74  9.582
181  E01033411  16.249         575  35.413   3.74  9.582

[182 rows x 6 columns]

In [158]:
# setting lsoa's as the index
LSOA_data = data.set_index('LSOA_code')
LSOA_data.head(3)

             mean  households   upper  lower     sd
LSOA_code
E01013810  24.173         643  43.337   3.74  9.582
E01013811  22.592         526  41.756   3.74  9.582
E01013812  22.957         554  42.121   3.74  9.582
E01013813  15.186         578  34.350   3.74  9.582
E01013814  25.569         715  44.733   3.74  9.582
...           ...         ...     ...    ...    ...
E01033407  20.761         646  39.925   3.74  9.582
E01033408  27.280         670  46.444   3.74  9.582
E01033409  12.340         486  31.504   3.74  9.582
E01033410  25.634         814  44.798   3.74  9.582
E01033411  16.249         575  35.413   3.74  9.582

[182 rows x 5 columns]

# Bounded Range Estiamte
Creating an estimate based on the bounding range of upper and lower income bounds

In [166]:
#sample across the first observation (0)
mean = LSOA_data.iloc[0]['mean'] 
lower_bound = LSOA_data.iloc[0]['lower'] 
upper_bound = LSOA_data.iloc[0]['upper'] + 1  # + 1 to keep allow for the generation of the highest observed value

# Generate a random number within the Bounded Range
bounded_random_income = np.random.uniform(lower_bound, upper_bound, size=int(LSOA_data.iloc[0]['households']))
bounded_random_income

array([18.26882901,  8.5466673 , 16.35554344, 23.99852738, 12.5144462 ,
       17.20777754, 15.61769667, 25.00920166, 42.97683991, 39.73586743,
       12.66451175, 18.16216877, 39.74740326, 37.82884466, 44.02766634,
       11.65945497, 31.56173731, 24.83212118, 24.81067157, 43.82967832,
       12.63686906, 19.92161242, 10.63269171, 10.04222913, 25.79472929,
       38.70058023, 17.42076962,  5.6467308 , 14.47579852, 35.04204568,
       15.61844112, 12.59979023, 32.62111808, 17.85340738, 40.71587649,
       16.37815712, 27.62080855, 26.15845677, 40.19553705,  4.38361727,
       36.48671648, 38.7011101 , 43.72184614, 33.02068072, 16.60007138,
       11.24701453, 12.34541651, 36.17779273, 12.90891192, 11.32714713,
       29.32738652, 17.13479201, 30.71861229, 36.76011296, 25.71795523,
       25.35339333, 12.88319047, 31.18078461, 20.55502605, 16.59678094,
       38.48588559, 19.7181836 , 30.2381614 , 39.14185839, 42.29468421,
        9.28549113, 21.38210575, 21.10487758, 21.17863488, 32.41118407,
       18.08732029, 11.640399  , 42.42247863, 16.00356116, 18.0599615 ,
       32.07213053, 40.75929557,  8.16815286, 29.7586687 , 31.73536908,
       41.41098099, 21.0257171 , 39.98206185, 17.40087678, 35.18123765,
       28.59403283,  6.25991332, 15.41307829, 26.35121173, 21.84624255,
       36.67198511, 37.17569517,  9.36724683, 28.99579349, 39.35852626,
       24.12360683, 15.21199211,  8.97457791,  7.55375968, 21.04874685,
       23.82549839, 18.87508476, 17.13984067, 29.41505967, 39.76984855,
       21.40763795, 24.13915061, 16.68460137, 16.46506729, 40.85854205,
       26.73775526, 24.86282765, 19.03667241,  3.90604362, 26.63631316,
       38.7716031 , 40.62985003, 41.07753409, 20.19351924, 34.3204661 ,
       15.70212271, 27.73596169,  9.51840223, 14.56944105, 26.63840304,
       14.82998889, 41.24637355, 36.61498965, 14.19221839, 38.66183907,
       12.59564646, 38.84435635, 43.29754494, 39.87493881, 30.00034137,
       20.26362377, 24.93540679, 34.60269377, 37.90277577, 29.43884071,
       27.3903599 , 38.49187524, 34.3078242 , 34.8618932 ,  3.84797104,
        4.8312126 , 41.90987521, 28.75562741, 25.25653023, 35.95965971,
       20.44890621, 36.1051391 , 23.01898142, 38.88172214,  6.16288405,
       20.26875708, 33.45649212, 31.40799114, 28.20861946, 36.51594777,
       27.80389271, 37.96842506, 38.36367687,  6.21360436, 19.69911129,
        3.9367478 , 36.48079985, 30.19577912, 28.28819128, 10.21707976,
       36.5967735 , 39.90200925, 19.37159057, 28.96594404, 41.75469757,
        6.61771425,  3.99321622, 37.05436514, 15.27327609,  4.93289201,
       44.06428742, 32.24964836, 28.44118952,  4.7489708 , 16.90290057,
       26.54706708, 41.75036712,  4.61533721, 19.14723344, 43.53174823,
       32.10165787, 33.98524629, 28.80734603, 43.28088783, 32.05811214,
       12.35033987,  4.71456805,  9.30227724, 22.91909338, 31.67127886,
       33.73758638, 21.1165101 , 40.68699963, 28.63935774, 28.01649584,
       25.29893664, 26.35951744, 13.38108743, 33.59151579, 41.79064229,
        8.38172092, 17.99658009, 19.17135968, 42.73310242, 19.38574158,
       31.49797113, 20.881877  , 25.19990892, 11.13952869, 30.41966445,
       31.06784861, 31.83642307, 39.60840604,  4.6259918 , 20.65511743,
       14.14504487, 20.89382439, 28.29303899, 35.30062599, 20.57242937,
       15.14627254, 44.17249582, 42.29302734, 31.03084914, 10.03969007,
        4.10515051, 26.24954844, 16.49132365,  6.25925355, 43.39058836,
       16.44779374,  3.79288576, 43.25906699, 10.12624159, 23.4923036 ,
       42.90350424, 23.66748664, 23.89279569,  6.31023594,  9.00066662,
       25.28468104,  4.25079872, 43.81226923, 41.23546733, 18.31049517,
       17.11174887, 12.23939317, 28.20410051, 10.84176036, 27.79389591,
       42.27195101, 34.43210749, 27.38310969,  5.98657868, 38.07019965,
       38.78535444, 35.54969824, 43.27787289, 16.96219401,  6.68300882,
       36.98135897, 39.02335581, 42.90796046, 21.05326227, 38.80967267,
       35.76221273, 43.17310971,  7.00945054, 34.63415486, 34.60123072,
       25.28673639, 34.02893406, 37.31563313, 24.99141168,  9.30536171,
       32.87160802, 36.44073014, 40.31149436,  7.68101778, 39.42775049,
        3.92140763, 42.07730469, 29.52430572, 25.2736984 , 26.52183501,
       25.72874042, 15.79541271,  3.82080965, 16.673211  , 10.7388414 ,
       20.6204532 , 13.20204016, 37.85391149,  5.37541465,  5.20803156,
       27.27095562, 30.95077796, 38.54849245, 24.78064481, 25.77394846,
       21.08577919, 16.17397526, 33.16710196,  8.61643821, 40.43569993,
       28.58349493, 14.62773209, 18.37445801, 28.01392343, 41.72654622,
       37.86251234, 17.7108964 ,  4.1701003 , 39.09230742, 30.82390017,
       22.47148541, 22.69150333,  9.41215918,  9.34432621, 24.66834092,
       32.35038006,  8.77382741, 34.32677025, 43.91703383, 16.4297197 ,
        7.04907304, 30.74792569, 37.11054693,  6.97461085, 30.66319988,
       26.45942279, 16.21137767, 20.89184377, 39.35097207, 17.19895452,
        5.09281106, 32.95909878, 27.93379855,  6.99722608, 27.3491059 ,
        8.84368479, 31.52953231, 35.04615999, 32.60312109, 31.43882355,
       41.58094411,  9.27777219, 40.66005372, 15.09010204, 33.26468103,
       27.31122333, 20.64750375, 37.52182152, 32.04825271, 28.31331275,
        4.66865087, 32.89247477, 20.13919279, 43.85574846,  8.84816816,
       18.25159397, 41.6873288 , 38.23223116,  5.45159917, 33.95844479,
       16.42316468, 44.16182653, 31.83278711, 43.34325915, 13.52707836,
       19.51286015,  8.55253776, 30.59212226, 13.20124827, 15.88028574,
       25.77601689, 26.26001096, 35.68531631, 34.25330777, 40.95315293,
       42.96663981, 14.26462085, 30.56892156, 42.84256539, 22.36539315,
       19.83128573, 42.96125766, 12.38657831, 32.73295422, 26.32307563,
       38.00149384, 28.26785829, 12.40694648, 16.73709046, 10.88511318,
       29.76515105, 19.69565458,  7.15736518,  4.89011651, 22.84663213,
       21.70872164,  8.14974846, 32.52096962, 30.63589611, 30.3944608 ,
       43.59692794, 26.2990023 , 43.73978894, 21.79972532, 21.39605769,
       27.91435487, 13.24596896,  8.20869255, 31.00773818, 23.65130607,
       19.17065361,  7.23881839, 18.35325484, 19.24044841, 33.30577806,
        8.78841035, 18.36402188, 42.37025086, 33.64685845,  9.35246447,
       35.538063  , 12.85338991, 33.31872889, 16.67593179, 38.52431524,
       29.93715854, 42.47811386, 14.01941351, 17.19233491, 28.73474304,
       43.54677311, 30.01792922, 40.46675909,  6.74039543, 41.52122409,
       31.31805753, 26.36084179, 11.0089898 ,  7.14804166,  9.37590262,
       35.48552131, 10.97574365, 41.81122464, 26.93277816, 11.53386294,
       18.46516848, 33.70013414, 35.3453884 , 28.48522054, 24.55150195,
       35.61691966, 13.97500921,  6.12385195, 36.25059341, 43.19742306,
       27.71991163, 18.01782803,  5.5372426 , 13.44916858, 43.61347898,
       28.90308984, 23.69287144, 25.39224187, 40.41806384, 15.35763061,
       17.60801342, 17.93687682, 19.88183761, 42.28884387, 13.98766105,
       42.06608264,  6.13938781, 27.86295315, 44.25998809, 21.17325201,
       17.52810418, 10.23332391, 38.18959393,  4.35629533, 41.82928872,
       26.64344766,  8.5686175 , 27.12215966,  8.96229194, 23.72752027,
       40.70089363, 18.18565919, 27.94483114,  6.99819337,  3.77002712,
       13.28652671, 13.02240181, 14.67303616,  4.70707621, 40.44806352,
       43.87681618, 10.01859137, 36.53870098, 12.65293008,  7.6441872 ,
        5.81147325, 34.25293705, 20.22852484, 39.38993851, 14.52550398,
       41.91052238, 28.76727832, 34.5270753 , 20.819148  , 39.90555671,
       35.79549975,  5.36735686, 25.19959119,  9.37551702, 20.71848779,
        4.01665231, 18.08566883, 17.30802629, 22.24480527, 36.2375491 ,
       11.14781379, 19.84120694, 11.46921394, 23.53332611, 22.88049438,
       20.26811599, 14.02846938, 19.64700598,  5.93878173, 39.52205663,
       38.04106925,  7.11545042,  3.79565148, 33.96627086, 40.43087096,
        8.04730658, 19.82158843, 31.21464727, 39.57432888, 15.88959476,
       16.31909198,  9.39149732, 13.31309247, 10.57874943, 36.70158245,
       14.71606405, 36.77948206, 18.28867786, 23.71082962, 39.24865571,
       28.83019566, 31.56569639, 38.76504739, 18.88639852, 18.22555774,
       19.68471084, 26.98058966, 43.84928526,  7.84766911, 41.64688768,
       17.56194706, 41.23701321, 11.12203606, 18.91897669, 23.72147768,
       21.04599354, 30.99266245, 15.21637651,  9.45935679, 17.17257524,
       26.75828108,  8.03497721, 37.38212921, 14.65816037, 32.98546219,
       21.99889688, 24.48218652, 15.87650016, 17.43497703, 28.87093861,
       10.55929972, 42.78497758, 11.49811885, 30.19281642,  9.38199613,
       20.93956889, 16.74589922, 23.83155413, 30.29375064, 40.62051455,
       30.55007415,  6.44052113, 39.19156299, 21.7769518 , 24.26676924,
       20.79154881, 44.17321171, 18.66687837, 42.69772327, 10.02773272,
       31.41965532, 12.3586877 ,  9.64777438, 29.36705823, 18.38792291,
       12.73474653, 16.46622412, 37.50696148, 36.27688704,  6.48463847,
       25.60952871, 15.3305716 ,  9.88542773, 10.46537056,  6.28558142,
       23.52900921, 27.65358065, 33.86290306, 36.60380844, 30.4151899 ,
       29.03502661, 12.73878286,  9.26260613, 20.156019  , 29.00422345,
       19.7184261 ,  6.21068152, 34.25777953])

# With SD
Creating an estimate based on the standard deviation

In [167]:
#sample across the first observation (0)
mean = LSOA_data.iloc[0]['mean'] 
sd = LSOA_data.iloc[0]['sd'] 
random_income = np.random.normal(mean, sd, size=int(LSOA_data.iloc[0]['households']))
random_income

array([25.30634763, 13.70287595, 11.14419998, 24.97978196, 17.50785695,
       13.5339838 , 17.55697402, 16.7325433 , 27.98768865, 15.13339394,
       29.05901148, 15.99685585, 18.56107113, 37.81900795, 25.84792468,
       23.93798303, 32.20254046, 33.46899142, 40.2541476 , 18.06246251,
       34.38137891, 25.67915497, 22.17216973, 19.71128382, 25.0085161 ,
       36.86852814, 43.58525131, 17.9015637 , 31.1296791 , 41.05191688,
       15.49353991,  7.84231471, 39.98771147, 28.23102513, 26.50549844,
       38.63900148, 20.45428385, 27.70403919, 20.94380117, 19.32050901,
       13.61166926, 22.38195945, 15.46720504, 22.63753334, 30.44411596,
       24.91625135,  6.16774129, 15.00869334, 29.76196952, 34.60775472,
       35.41102156, 33.89210511, 18.79689004, 15.46796255, 24.74460463,
       26.80448104, 27.05514548, 20.23162434, 41.14899117, 12.30650358,
       29.92166853, 39.22957635, 23.44830253, 38.68987906, 19.42147768,
        9.55007383, 20.20112618, 22.94974799, 26.25162803, 29.67455745,
       25.29689969, 17.06314299, 32.18396591, 17.69176875, 17.35106833,
       17.18381858, 27.15092697, 20.65824801, 30.54245703, 27.50814322,
       24.46683323, 26.68164585, 23.09667401, 12.1762906 , 24.88023392,
       17.96457669, 16.06399442, 36.1392326 , 36.512618  , 10.94928709,
       36.62342697, 18.43623475, 24.19422407, 28.73121814, 27.98210547,
       22.9977884 , 30.97261418, 19.84104936, 22.85307534, 39.7889013 ,
       13.60336678, 26.35080348, 31.50465803, 13.50048212, 20.16759687,
        3.85577304, 39.28977274, 34.60160989, 16.02324248, 37.35023431,
       26.38791826, 16.62670952, 27.02831783, 31.9574749 ,  5.43040128,
       33.71083745, 38.66932945, 36.80361205, 21.98140202, 30.75270135,
       27.982076  , 23.16307836, 28.73573898, 47.49746667,  6.96863225,
       16.48175187,  9.56071008, 26.34793904, 27.61524365,  4.04479778,
       29.03162855, 36.91017951, 14.95115995, 35.35054957, 37.83486981,
       38.06273672, 17.38817235, 32.66684086, 32.86658596, 18.85210434,
       16.35711335, 25.52265492, 26.87601369, 11.85559617, 18.83358598,
       20.13573585, 33.15525187, -0.24565408, 19.07361403, 26.21875728,
       41.97992989, 12.86399602, 37.49129292, 33.33145263, 37.11048919,
       29.62624565, 29.0195663 , 19.75609361, 18.92748158,  5.74762161,
       26.27590725, 20.73852499, 28.66371777, 12.74767319, 33.57036456,
       22.52854695, 26.30705653, 24.90097289, 36.89556826,  7.08178772,
       13.29974824, 12.63419495, 17.70124312, -8.69159372, 20.89213752,
       32.09751888, 26.64107473, 29.44198136, 30.72208439, 14.41116888,
       21.84555597, 28.03420481, 21.17944346, 25.12541961, 42.87852385,
       26.03594181, 24.1726706 , 16.81031738, 33.62058027, 13.57343365,
       16.51758804,  7.81065189, 36.79464759, 36.13189981, 21.19168572,
       16.46683811, 18.32847487, 30.15627235, 26.52365802, 34.23826463,
       30.6301451 , 12.24835005, 18.39854612, 32.09964767, 28.40223496,
       29.79788006, 35.40097626, 19.33016211, 22.90282091, 22.07355808,
       30.08380441, 27.07980958, 28.87918025, 31.66169649, 25.69182599,
       18.76179218, 19.52697304, 23.59651767, 34.77421244, 50.03508209,
       34.03731734, 36.11594293, 19.34832961, 18.24388042, 15.79887097,
       27.19920163, 29.29870227, 10.74307303, 36.29373718, 24.14564619,
       29.88511969, 10.33550689, 22.58980912, 22.54973475, 24.83335555,
       33.33129248, 13.95729226, 18.75116357, 22.22151295, 24.15559805,
       35.58847556, 10.24621147, 23.4732211 , 11.38895047, 30.16494034,
       12.44495888, 31.71116858, 26.80809605, 24.85756536, 26.53534317,
       18.2581457 , 31.30415806, 19.50190392, 47.96345295, 18.31548708,
       17.62148768,  7.9004047 ,  8.50023705, 42.11670135, 14.04895693,
       44.26798604, 25.65430422, 31.73926594, 26.61513184, 34.03005948,
        9.03877559, 22.45689728, 18.43947852, 25.17621603, 11.30826637,
       33.05258404,  9.35323765, 30.81523977, 35.41097476, 17.90782757,
       36.67124192, 17.92222579, 20.46732369, 14.68099249, 28.24260243,
       22.39642439, 40.19493395, -3.0791991 , 20.27924537, 27.66251056,
       35.58850988, 35.5508016 , 19.94712938, 41.72749238, 18.43014337,
       29.39984222, 21.88554751, 24.05473784, 13.92087185, 30.29897239,
       19.76262532, 27.45187697, 37.00059431, 16.62128389,  3.45350167,
       39.19101805, 37.43516846, 32.92286447, 25.242488  , 23.95482477,
       27.04091611, 21.82241831, 28.08681557, 27.44909226, 35.53554001,
       41.44417434, 28.64389285, 36.58062356, 17.45367054,  3.72692959,
       28.18695967, 19.04623159, 18.60178484, 10.4627492 , 15.49756977,
       17.78728469,  2.0939974 , 23.83469192, 18.06220444, 27.963843  ,
       14.86652441, 21.46153354, 23.85657387, 16.21926508, 30.32882393,
       17.26102347, 31.512067  , 16.33214554,  7.07445224, 37.07041245,
       32.6960402 , 20.64919845, 32.10362375, 30.07990199,  5.64447608,
       15.09453688, 29.92470526, 28.00635766, 27.39314822, 18.49798165,
       53.32511227, 20.37400484, 21.15557874, 30.65538613, 25.10594758,
       20.05358993, 21.52348842, 22.30190026, 29.77646891, 11.98573768,
       40.04060358, 31.31479761, 16.97874533, 18.72998871, 24.20502903,
       18.32186186, 35.80706096, 34.42113302, 34.28464044,  8.88899048,
       29.35450814, 47.49476552, 22.88996481, 33.76659603, 34.88088282,
       23.68486155, 27.25378407, 13.64678836, 18.06224358, 19.99809563,
       30.50340787,  7.57199095, 25.87637245, 28.23461928, 20.49650447,
       32.85930894, 28.25220541, 40.23477696, 24.37785818, 24.51921503,
       30.96480002, 15.10140718, 15.27056992,  5.38355778, 23.90936534,
       20.65652198,  2.25654376, 26.5170328 , 21.01793929, 26.93461913,
       31.53906622, 31.92948052, 35.47797171, 26.01643216, 17.71580176,
       44.43457691, 29.15504689, 32.12308459, 46.40782819, 23.77444811,
       19.743267  , 34.59998229,  5.0150836 , 11.61869743, 29.15697968,
       22.47824117, 32.87036007,  5.52171225, 37.50383995, 42.62186155,
        9.24539164, 27.23558286, 24.67246252, 21.80949412, 25.92481595,
       42.31013665, 26.36038524, 30.20419459, 33.74709207, 36.63223527,
       23.08236932, 33.1963308 , 25.13064718, 24.21206744, 21.80019057,
       42.97299518,  9.78213959, 34.52429636, 29.93451083, 33.78797397,
       22.16552467, 22.46669287, 14.46136559, 25.80165008, 22.7098953 ,
       32.03087154, 30.12615241, 14.55661241, 15.29494626, 20.18936275,
       15.25298619, 22.99908448, 29.41173365, 24.68318704, 26.06158155,
       27.18190527, 21.32072512, 19.05424954, 19.29650433, 32.27724265,
       13.12078972, 40.55535304, 10.5251772 , 23.96292974, 26.02343219,
       20.48719818, 25.77235499, 24.29516535, 13.51483125, 20.6428065 ,
       27.19377929, 21.71996783, 30.95322749, 18.55504872, 21.55753844,
       26.56191488, 22.09114976, 29.11373348, 31.84261397, 27.5534473 ,
       22.13742028, 12.37942461, 13.05605523, 19.89785414, 31.72110197,
       26.7945271 ,  2.77804815, 11.03097126, 19.3209966 , 15.97876387,
       12.27917149, 11.55766914, 31.78841615, 41.67832411, 26.01725358,
       20.2411243 , 44.01430424, 25.06928843, 37.40629778, 29.94333499,
       17.26055389, 18.83651464,  4.35368985, 26.21552441, 22.55600827,
       54.18200743, 26.83778954, 26.08070303, 27.86264301, 15.31503755,
       29.83402524, 35.92925823, 36.9347896 , 23.19199151, -1.97223713,
       23.07276966, 16.6588332 , 29.70939374, 17.85330148, 38.36519763,
       28.73271672, 27.69873379, 29.81403503, 14.1980745 , 28.09449276,
       22.12889601, 18.55934814, 33.61215141, 25.7548614 , 34.02064299,
       30.21029443, 20.45831614,  4.65431424, 42.88351117, 47.82893151,
       12.3403237 , 29.03291125, 21.34943562, 35.98579449, 48.59456632,
       16.75521401, 32.15762071, 25.60544268, 20.10611733, 12.16614628,
       28.94414634, 41.57464318, 27.69293051, 26.44236682, 26.48036959,
       23.11248703, 17.52203472, 27.26932867, 27.40968323, 27.30815418,
       42.37083359, 28.38776485, 24.5331296 , 27.33850008, 21.1505819 ,
       29.54056807, 27.27573106, 18.83164769, 32.76163202, 28.16939388,
       13.44082462, 37.84141521, 19.96423136,  7.07877213, 28.30459168,
       41.57704121,  5.81616252, 37.45857301, 19.10003054, 20.47520515,
       22.01942838, 39.0196386 , 31.07057223, 32.91793943, 19.16068056,
       26.0120036 , 16.54766892, 37.32252614, 27.58206114, 30.48961791,
       16.27354552, 27.05305903, 22.28069877, 28.05435013, 32.98637102,
       10.31082121, 13.29386815, 24.11270574, 19.63224475, 23.94239542,
       21.42422364, 31.70484815, 22.35005439, 28.07004401, 25.02570824,
       35.41747258, 13.32649793, 22.21750505, 21.57328602, 23.13139465,
       13.03960706, 23.7938052 , 36.65161918, 16.50121566, 26.35288376,
       24.65392945, 25.83902964,  8.24415542, 48.6447751 , 29.45822744,
       48.41800641, 23.79683111, 24.68658414, 29.28565309, 24.9621441 ,
       40.12097772, 23.91302106, 14.63460638, 25.75935469,  7.35974679,
       12.88860113, 13.1796462 , 21.06556837, 27.39978615, 27.91475661,
       32.24542741,  8.03875942, 18.99115543, 36.34357796, 27.45944752,
       25.95831137, 32.46826463, 23.44544805, 16.6591883 , 33.75586702,
       20.70279439, 11.19942036, 23.69736151,  7.08365507, 33.13203127,
        6.00526143, 40.15921346, 26.95250862])

In [161]:
# defining extra contextual columns in the dataframe
synthetic_dataframe = pd.DataFrame(columns=[['house_number','synthetic_data']])

# Fill the DataFrame with values from the list
for i in range(int(LSOA_data.iloc[0]['households'])):
    synthetic_dataframe.loc[i, 'house_number'] = i
    synthetic_dataframe.loc[i, 'synthetic_data'] = random_income[i]
synthetic_dataframe

    house_number synthetic_data
0              0      30.086955
1              1      21.824815
2              2      38.934447
3              3      26.034546
4              4      22.870879
..           ...            ...
638          638       35.87638
639          639       7.142589
640          640      25.079773
641          641      19.472715
642          642      22.676617

[643 rows x 2 columns]

# The Function the Creates Synthetic Data and Exports to CSVs

In [171]:

def create_sythetic_data(dataframe):
    '''
    Creates synthetic income data for regions and outputs them as CSVs.

    Args:
      dataframe: the dataframe that contains the mean and standard deviation of income across an area.

    Returns:
      CSV(s) containing the income estimates for that area.
    '''
    for i in range(len(dataframe)):
        mean = dataframe.iloc[i]['mean'] 
        sd = dataframe.iloc[i]['sd']
        
        random_income = np.random.normal(mean, sd, size=int(dataframe.iloc[i]['households']))
        
        synthetic_dataframe = pd.DataFrame(columns=[['lsoa_code','synthetic_data']])

            # Fill the DataFrame with values from the list
        for j in range(int(LSOA_data.iloc[i]['households'])):
            synthetic_dataframe.loc[j, 'lsoa_code'] = data['LSOA_code'][i]
            synthetic_dataframe.loc[j, 'synthetic_data'] = random_income[j]
            value_for_filename =  i
            synthetic_dataframe.to_csv(f"/Users/gregormilligan/Desktop/semple_code_help/{data['LSOA_code'][i]}_synthetic_dataframe_{value_for_filename}.csv")
    print(f'number of csvs create {i+1}')

In [172]:
create_sythetic_data(LSOA_data)

number of csvs create 182